<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add User</title>
</head>
<body>
	<h1>Add User</h1>

	<form action="" method='POST'>
		{{ add_form.hidden_tag() }}
		{{ add_form.name() }}
		{% for errors in add_form.name.errors %}
			<span class="error" style="color:red">A user with that name already exists!</span>
		{% endfor %}
		{{ add_form.file() }}
		{{ add_form.submit() }}
	</form>

	<table>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
		{% for user in users %}
		<tr>
			<td>{{ user.name }}</td>
			<td>
				<form action="{{ url_for('remove_user', user_id=user.id) }}" enctype="multipart/form-data" method='POST'>
					<button type="submit">Remove</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<br>
	<form action="{{ url_for('main') }}">
		<input type="submit" value="Camera Feed" />	
	</form>

</body>
</html>
