<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DormEye</title>
</head>
<body>
	<h2>DormEye</h2>
	<div class="wrapper">
		<form action="/main">
			<h1>Login</h1>
			<div class="input-box">
				<input type="text" placeholder="Username" required>
			</div>
			<div class="input-box">
				<input type="text" placeholder="Password" required>
			</div>
			<div class="remember-forgot">
				<label><input type="checkbox">Remember login</label>
				<a href="#">Forgot Password?</a>
			</div>
			<button type="submit" class="button">
				Login
			</button>
			<div class="register-link">
				<p>Don't have an account? <a href="#">Register<a></p>
			</div>
		</form>

		<a href="{{ url_for('login') }}">Login Page</a>
</body>
