<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<title>account</title>
</head>
<body>
	<p>example</p>

	<h1>Live Stream</h1>
	<div>
		<img id='video-feed' src="{{ url_for('video') }}" width="50%"/>
	</div>

	<button type="button">Add a user</button>
	<button type="button">Remove a user</button>

	<div>
		<form action="" method='POST'>
			{{ add_form.hidden_tag() }}
			{{ add_form.name() }}
			{% for errors in add_form.name.errors %}
				<span style="color:red">A user with that name already exists.</span>
			{% endfor %}
			{{ add_form.submit() }}
	</div>

	<div>
		<form action="" method='POST' enctype='multipart/form-data'>
			{{ upload_form.hidden_tag() }}
			{{ upload_form.file() }}
			{{ upload_form.submit() }}
		</form>
	</div>

	<ibutton type=button> </button>
</body>
</html>
