<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<title>account</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
	<script>
		function openPopup(imageUrl) {
					const popup = window.open("", "popup", "width=600,height=600");
					popup.document.write("<img src='" + imageUrl + "' style='width: 100%'>")
				}
	</script>
</head>
<body>
	<h1>Your DormEye</h1>

	<hr width="75%" size="4"><br>

	<div class="video">
		<img id='video-feed' src="{{ url_for('video') }}" />
	</div>
	
	<div class="info">
		<svg height="100" width="60" class="blinking">
  			<circle cx="50" cy="50" r="10" fill="red" />
  			Sorry, your browser does not support inline SVG.
		</svg>
		<span class="live">LIVE</span>
		<span>Camera Route</span>
		<form action="{{ url_for('add') }}">
			<input type="submit" value="Users" />
		</form>
	</div>

	<div class="log-title">
		<form action="{{ url_for('delete_logs') }}">
			<input type="submit" value="Remove Logs" />
		</form>

		<h2>Logs</h2>

		<form action="{{ url_for('refresh_logs') }}">
			<input type="submit" value="Refresh Logs" />
		</form>
	</div>
	<table class="logs">
		<tr class="headers">
			<th>Date and Time</th>
			<th>Name(s)</th>
			<th>Photo</th>
		</tr>
		{% for log in logs|reverse %}
		<tr>
			<td class="dates">
				{{ log.date }}
			</td>
			<td class="names">
				{{ log.name }}
			</td>
			<td>
				{% if log.photo_filename %}
					<button onclick="openPopup('/log_photos/{{ log.photo_filename }}')">Expand</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table	>
</body>
</html>
